/*      DEFAULTS      */

body {
  font-family: $font-CrimsonText;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
}

a {

  &:hover, &:focus, &:active {
    text-decoration: none;
  }

}

//  Width & Height Start
@for $i from 0 through 100 {

  .w-#{$i} {
    width: $i*1% !important;
  }

  .mnw-#{$i} {
    min-width: $i*1% !important;
  }

  .mw-#{$i} {
    max-width: $i*1% !important;
  }

  .h-#{$i} {
    height: $i*1% !important;
  }

  .mnh-#{$i} {
    min-height: $i*1% !important;
  }

  .mh-#{$i} {
    max-height: $i*1% !important;
  }

}

.w-auto {
  width: auto !important;
}

.h-auto {
  height: auto !important;
}

.mnh-unset {
  min-height: unset !important;
}

.mh-unset {
  max-height: unset !important;
}

//Width & Height End


.overflow-x-hidden {
  overflow-x: hidden !important;
}

.overflow-y-hidden {
  overflow-y: hidden !important;
}

.overflow-x-visible {
  overflow-x: visible !important;
}

.overflow-y-visible {
  overflow-y: visible !important;
}

.overflow-x-auto {
  overflow-x: auto !important;
}

.overflow-y-auto {
  overflow-y: auto !important;
}

.position-static {
  position: static !important;
}

.position-relative {
  position: relative !important;
}

.position-fixed {
  position: fixed !important;
}

.position-absolute {
  position: absolute !important;
}

.position-sticky {
  position: sticky !important;
}

//Font Family Start

//Font Family End

//Font Size Start

@for $i from 0 through 50 {

  .font-size-#{$i} {
    font-size: #{$i/12}rem !important;
  }

}

//Font Size End

/*      Rotations      */

//Forward Rotate

@for $i from 0 through 360 {

  .rotate-#{$i} {
    -webkit-transform: rotate(#{$i}deg);
    -ms-transform: rotate(#{$i}deg);
    transform: rotate(#{$i}deg);
  }

}

//Forward Rotate End

//Backward Rotate Start

@for $i from 0 through 360 {

  .rotate-n#{$i} {
    -webkit-transform: rotate(-#{$i}deg);
    -ms-transform: rotate(-#{$i}deg);
    transform: rotate(-#{$i}deg);
  }

}

//Backward Rotate End

/*      /Rotations      */

//Negative Margin Start

@for $i from 0 through 6 {

  .m-n#{$i} {
    margin: -#{$i/4}rem !important;
  }

  .mx-n#{$i} {
    margin-left: -#{$i/4}rem !important;
    margin-right: -#{$i/4}rem !important;
  }

  .my-n#{$i} {
    margin-top: -#{$i/4}rem !important;
    margin-bottom: -#{$i/4}rem !important;
  }

  .mt-n#{$i} {
    margin-top: -#{$i/4}rem !important;
  }

  .mr-n#{$i} {
    margin-right: -#{$i/4}rem !important;
  }

  .mb-n#{$i} {
    margin-bottom: -#{$i/4}rem !important;
  }

  .ml-n#{$i} {
    margin-left: -#{$i/4}rem !important;
  }

}

//Negative Margin End

//Border Radius Start

@for $i from 0 through 100 {

  .border-radius-#{$i} {
    -webkit-border-radius: #{$i}px !important;
    border-radius: #{$i}px !important;
  }

  .border-radius-top-left-#{$i} {
    -webkit-border-top-left-radius: #{$i}px !important;
    border-top-left-radius: #{$i}px !important;
  }

  .border-radius-bottom-left-#{$i} {
    -webkit-border-bottom-left-radius: #{$i}px !important;
    border-bottom-left-radius: #{$i}px !important;
  }

  .border-radius-top-right-#{$i} {
    -webkit-border-top-right-radius: #{$i}px !important;
    border-top-right-radius: #{$i}px !important;
  }

  .border-radius-bottom-right-#{$i} {
    -webkit-border-bottom-right-radius: #{$i}px !important;
    border-bottom-right-radius: #{$i}px !important;
  }

}

//Border Radius End

//Border Start

//@import 'partials/border';

//Border End

.cursor-none {
  cursor: none;
}

.cursor-auto {
  cursor: auto;
}

.cursor-default {
  cursor: default;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-crosshair {
  cursor: crosshair;
}

/*      /DEFAULTS      */

.section-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-padding2 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.form-control {
  background-clip: unset;
}

.heading-separator {
  width: 100px;
  height: 1px;
}

.heading-separator-small {
  width: 50px;
  height: 1px;
}