/*      FOOTER      */

footer {

  .footer-widget-area {

    .border-bottom {
      border-bottom-color: rgba(255, 255, 255, 0.05) !important;
    }

  }

  .footer-bottom-area {
    p {
      color: rgba(255, 255, 255, 0.3);
      font-style: italic;
    }
  }

  ul {

    &.footer-nav, &.social-nav {

      li {
        margin: 0.75rem;

        a {
          color: $white;
        }

      }

    }

    &.footer-nav {

      li {

        a {
          font-family: $font-Montserrat-Medium;
          font-size: 0.85rem;
        }

      }

    }

    &.bottom-nav {

      li {
        margin: 0.5rem;

        a {
          font-family: $font-Montserrat-Bold;
          color: rgba(255, 255, 255, 0.3);
          font-size: 0.675rem;
        }

      }

    }

  }

}

/*      /FOOTER      */