/*      FOOTER      */

footer {

  .footer-wrapper {
    height: 70px;

    .copyright-content {
      line-height: 1.5;

      p {
        margin-bottom: 0;
        padding: 0;
      }

    }

    .footer-logo {

      .img-logo {
        max-height: 35px;
      }

    }

  }

}

/*      /FOOTER      */