/*      HEADER      */
/*    Home Banner    */

.main-nav {

  nav {

    .navbar-toggler {
      font-size: 1.5rem;

      .icon-bar {
        color: $primary;
      }

    }

    .navbar-collapse {

      .navbar-nav {

        .nav-link {
          font-family: $font-Montserrat-Medium;
          color: $primary;
        }

      }

    }

  }

}

.banner-section {
  min-height: 600px;
  max-height: 600px;
}

/* /Home Banner */
/*      /HEADER      */


