/*      HEADER      */
/*    Navigations    */

.main-nav {

  nav {

    .navbar-toggler {
      font-size: 1.5rem;

      .icon-bar {
        color: $primary;
      }

    }

    .navbar-collapse {

      .navbar-nav {

        .nav-link {
          font-family: $font-Montserrat-SemiBold;
          padding-right: 0.75rem;
          padding-left: 0.75rem;
          color: $primary;
        }

      }

      .form-cart, .form-register {

        button {

          &.btn {
            font-size: 0.85rem;

            &:hover, &:focus, &:active {
              box-shadow: none;
              outline: none;
            }

          }

        }

      }

      .form-register {

        button {

          &.btn {

            &.btn-register {
              border: 2px solid $tinted-gray;
              border-radius: 1.5rem;
            }

          }

        }

      }

    }

  }

}

.sub-nav {

  nav {

    .navbar-secondary {

      .navbar-nav {

        .nav-link {
          color: $secondary;
          font-size: 0.85rem;

          &:hover, &:hover, &:active, &.active {
            color: $primary;
          }

        }

      }

      .form-search {
        max-width: 200px;

        input {

          &.search-input {
            padding-left: 2rem;
            color: $primary;

            &::placeholder {

              &, &:hover, &:hover, &:active {
                color: $secondary;
              }

            }

            &:hover, &:hover, &:active {
              box-shadow: none;
              outline: none;
            }

          }

        }

        .fa-search {
          left: 0.5rem;
          color: $primary;
        }

      }

    }

  }

}

/* /Navigations */
/*      /HEADER      */


