/*      HEADER      */
/*    Home Banner    */

.main-nav {

  nav {

    .navbar-toggler {
      font-size: 1.5rem;

      .icon-bar {
        color: $primary;
      }

    }

    .navbar-collapse {

      .navbar-nav {

        .nav-link {
          font-family: $font-Montserrat-Medium;
          color: $primary;
        }

      }

      .header-cart, .header-register {

        button {

          &.btn {
            font-size: 1rem;

            &:hover, &:focus, &:active {
              outline: none;
              box-shadow: none;
            }

          }

        }

      }

      .header-register {

        button {

          &.btn {

            &.btn-register {
              border: 2px solid $tinted-gray;
              border-radius: 1.5rem;
            }

          }

        }

      }

    }

  }

}

.banner-section {
  min-height: 600px;
  max-height: 600px;
}

/* /Home Banner */
/*      /HEADER      */


