.section-details {

  .section-bigtitle {
    font-family: $font-Montserrat-Black;
  }

  .section-title {
  }

  .section-subtitle {
    font-family: $font-CrimsonText;
  }

}

/*     Carousel Banner       */

.main-carousel {

  .carousel-indicators {
    top: unset;
    bottom: 50px;

    li {
      width: 5px;
      height: 5px;
      margin: 0 5px;
      border-radius: 50%;
      border: 2px solid #fff;
      background-color: transparent;

      &.active {
        background-color: #fff;
      }

    }

  }

  .carousel-control {
    top: 50%;
    width: 50px;
    height: 50px;
    bottom: unset;
    border: 1px solid;

    .carousel-control-next-icon, .carousel-control-prev-icon {
      width: 15px;
      height: 12px;
    }

  }

  &, .carousel-item-wrapper {
    min-height: 500px;
    max-height: 500px;
  }

  .carousel-item {

    .carousel-caption {
      top: 15%;

      &.left {
        left: 5%;
      }

      &.right {
        right: 5%;
      }

      .carousel-heading {
        font-family: $font-Montserrat-ExtraBold;
      }

      .carousel-desc {
        font-family: $font-CrimsonText-SemiBold;
      }

      .carousel-btn {

        &:hover, &:focus, &:active {
          background: $primary !important;
          color: $tinted-gray !important;
          box-shadow: none;
          outline: none;
        }

      }

    }

    .carousel-image {
      overflow: hidden;

      &.left {
        left: 0;
      }

      &.right {
        right: 0;
      }

    }

  }

}

/*     /Carousel Banner      */

/*      Best Seller      */

.product-item {

  .product-image {
    width: 200px;
    height: 200px;

    img {

    }

  }

}

/*      /Best Seller      */

/*      Testimonials       */

.testimonial-item {

  .testimonial-item-header {

    .author-name {
      font-family: $font-Montserrat-SemiBold;
    }

    .author-designation {
      font-family: $font-CrimsonText;
    }

  }

  .testimonial-item-detail {

    p {
      font-family: $font-CrimsonText;
    }

  }

}

/*      /Testimonials     */
