.section-details {

  .section-bigtitle {
    font-family: $font-Montserrat-Black;
  }

  .section-title {
  }

  .section-subtitle {
    font-family: $font-CrimsonText;
  }

}

/*     Carousel Banner       */

.main-carousel {

  .carousel-indicators {
    top: unset;
    bottom: 50px;

    li {
      width: 5px;
      height: 5px;
      margin: 0 5px;
      border-radius: 50%;
      border: 2px solid #fff;
      background-color: transparent;

      &.active {
        background-color: #fff;
      }

    }

  }

  .carousel-control {
    top: 50%;
    width: 50px;
    height: 50px;
    bottom: unset;
    border: 1px solid;

    .carousel-control-next-icon, .carousel-control-prev-icon {
      width: 15px;
      height: 12px;
    }

  }

  &, .carousel-item-wrapper {
    min-height: 500px;
    max-height: 500px;
  }

  .carousel-item {

    .carousel-caption {
      top: 15%;

      &.left {
        left: 5%;
      }

      &.right {
        right: 5%;
      }

      .carousel-heading {
        font-family: $font-Montserrat-ExtraBold;
      }

      .carousel-desc {
        font-family: $font-CrimsonText-SemiBold;
      }

      .carousel-btn {

        &:hover, &:focus, &:active {
          background: $primary !important;
          color: $tinted-gray !important;
          box-shadow: none;
          outline: none;
        }

      }

    }

    .carousel-image {
      overflow: hidden;

      &.left {
        left: 0;
      }

      &.right {
        right: 0;
      }

    }

  }

}

/*     /Carousel Banner      */

/*     Sorting Banner      */

.sorting-wrapper {

  .custom-select-wrapper {
    max-width: 130px;

    select {

      &.custom-select {
        background: none;

        &:hover, &:focus, &:active {
          border: none;
          outline: none;
          box-shadow: none;
        }

        &.sort {
          min-width: 125px;
        }

      }

    }

    &:after {
      position: absolute;
      color: $primary;
      content: "\f078";
      width: 20px;
      height: 15px;
      right: 0px;
      top: 10px;

      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      line-height: 1;

      font-family: "Font Awesome 5 Free";
      font-weight: 900;
    }

  }

}

/*     /Sorting Banner      */

/*     Pagination Banner      */

.pagination-wrapper {

  .pagination-arrow, .pagination-link {
    font-size: 1rem;
    color: $primary;

    &.active, &:hover, &:focus, &:active {
      color: $secondary;
    }

  }

  .pagination-link {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 10px;

    &.active {
      padding: 15px;
      background: $white;
      border-radius: 50%;
      box-shadow: 1px 3px 10px;
    }

  }

}

/*     /Pagination Banner      */

/*      Best Seller      */

.product-item {
  border-right: 1px solid #dee2e6 !important;

  .product-image {
    width: 200px;
    height: 200px;

    img {

    }

  }

}

/*      /Best Seller      */

/*      Testimonials       */

.testimonial-item {

  .testimonial-item-header {

    .author-name {
      font-family: $font-Montserrat-SemiBold;
    }

    .author-designation {
      font-family: $font-CrimsonText;
    }

  }

  .testimonial-item-detail {

    p {
      font-family: $font-CrimsonText;
    }

  }

}

/*      /Testimonials     */
