/* DESKTOP FIRST MEDIA QUERIES */

/* Extra Large devices (desktops, less than 1440px)*/
@media (max-width: 1439.98px) {

}

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {

  .section-padding {
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .section-padding1 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .section-padding2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

}

/* Custom Media Query (desktops, less than 1024px)*/
@media (max-width: 1023.98px) {
}

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {

  .section-padding {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .section-padding1 {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .section-padding2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .main-nav {

    nav {

      .navbar-brand {

        &.border-left {
          border-left: none !important;
        }

      }

    }

  }

}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {

  .section-padding {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .section-padding1 {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .section-padding2 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  footer {

    .footer-wrapper {
      height: auto;
    }

  }

}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

}

/* Customized Media Queries (phones, less than 400px) */

/* Extra small devices (portrait phones, less than 400px)*/
@media (max-width: 400px) {

}

@media (max-width: 320px) {

}

/* Customized Media Queries (phones, less than 400px) */

/* /DESKTOP FIRST MEDIA QUERIES */


/**/


/* MOBILE FIRST MEDIA QUERIES */

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

  //Font Size Start

  @for $i from 0 through 50 {

    .font-size-sm-#{$i} {
      font-size: #{$i/12}rem !important;
    }

  }

  //Font Size End

  //Negative Margin Start

  @for $i from 0 through 10 {

    .mg-sm-n#{$i} {
      margin: -#{$i/4}rem !important;
    }

    .mgx-sm-n#{$i} {
      margin-left: -#{$i/4}rem !important;
      margin-right: -#{$i/4}rem !important;
    }

    .mgy-sm-n#{$i} {
      margin-top: -#{$i/4}rem !important;
      margin-bottom: -#{$i/4}rem !important;
    }

    .mgt-sm-n#{$i} {
      margin-top: -#{$i/4}rem !important;
    }

    .mgr-sm-n#{$i} {
      margin-right: -#{$i/4}rem !important;
    }

    .mgb-sm-n#{$i} {
      margin-bottom: -#{$i/4}rem !important;
    }

    .mgl-sm-n#{$i} {
      margin-left: -#{$i/4}rem !important;
    }

  }

  //Negative Margin End

  //Border Radius Start

  @for $i from 0 through 100 {

    .border-radius-sm-#{$i} {
      -webkit-border-radius: #{$i}px !important;
      border-radius: #{$i}px !important;
    }

    .border-radius-sm-top-left-#{$i} {
      -webkit-border-top-left-radius: #{$i}px !important;
      border-top-left-radius: #{$i}px !important;
    }

    .border-radius-sm-bottom-left-#{$i} {
      -webkit-border-bottom-left-radius: #{$i}px !important;
      border-bottom-left-radius: #{$i}px !important;
    }

    .border-radius-sm-top-right-#{$i} {
      -webkit-border-top-right-radius: #{$i}px !important;
      border-top-right-radius: #{$i}px !important;
    }

    .border-radius-sm-bottom-right-#{$i} {
      -webkit-border-bottom-right-radius: #{$i}px !important;
      border-bottom-right-radius: #{$i}px !important;
    }

  }

  //Border Radius End

  //Width Start

  @for $i from 0 through 100 {

    .w-sm-#{$i} {
      width: $i*1% !important;
    }

    .mnw-sm-#{$i} {
      max-width: $i*1% !important;
    }

    .mw-sm-#{$i} {
      max-width: $i*1% !important;
    }

    .h-sm-#{$i} {
      height: $i*1% !important;
    }

    .mnh-sm-#{$i} {
      max-height: $i*1% !important;
    }

    .mh-sm-#{$i} {
      max-height: $i*1% !important;
    }

  }

  .w-sm-auto {
    width: auto !important;
  }

  .h-sm-auto {
    height: auto !important;
  }

  .mnh-sm-unset {
    min-height: unset !important;
  }

  .mh-sm-unset {
    max-height: unset !important;
  }

  //Width Start

  .overflow-sm-hidden {
    overflow: hidden !important;
  }

  .overflow-sm-x-hidden {
    overflow-x: hidden !important;
  }

  .overflow-sm-y-hidden {
    overflow-y: hidden !important;
  }

  .overflow-sm-visible {
    overflow: visible !important;
  }

  .overflow-sm-x-visible {
    overflow-x: visible !important;
  }

  .overflow-sm-y-visible {
    overflow-y: visible !important;
  }

  .overflow-sm-x-auto {
    overflow-x: auto !important;
  }

  .overflow-sm-y-auto {
    overflow-y: auto !important;
  }

  .position-sm-static {
    position: static !important;
  }

  .position-sm-relative {
    position: relative !important;
  }

  .position-sm-fixed {
    position: fixed !important;
  }

  .position-sm-absolute {
    position: absolute !important;
  }

  .position-sm-sticky {
    position: sticky !important;
  }

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

  //Font Size Start

  @for $i from 0 through 50 {

    .font-size-md-#{$i} {
      font-size: #{$i/12}rem !important;
    }

  }

  //Font Size End

  //Negative Margin Start

  @for $i from 0 through 10 {

    .mg-md-n#{$i} {
      margin: -#{$i/4}rem !important;
    }

    .mgx-md-n#{$i} {
      margin-left: -#{$i/4}rem !important;
      margin-right: -#{$i/4}rem !important;
    }

    .mgy-md-n#{$i} {
      margin-top: -#{$i/4}rem !important;
      margin-bottom: -#{$i/4}rem !important;
    }

    .mgt-md-n#{$i} {
      margin-top: -#{$i/4}rem !important;
    }

    .mgr-md-n#{$i} {
      margin-right: -#{$i/4}rem !important;
    }

    .mgb-md-n#{$i} {
      margin-bottom: -#{$i/4}rem !important;
    }

    .mgl-md-n#{$i} {
      margin-left: -#{$i/4}rem !important;
    }

  }

  //Negative Margin End

  //Border Radius Start

  @for $i from 0 through 100 {

    .border-radius-md-#{$i} {
      -webkit-border-radius: #{$i}px !important;
      border-radius: #{$i}px !important;
    }

    .border-radius-md-top-left-#{$i} {
      -webkit-border-top-left-radius: #{$i}px !important;
      border-top-left-radius: #{$i}px !important;
    }

    .border-radius-md-bottom-left-#{$i} {
      -webkit-border-bottom-left-radius: #{$i}px !important;
      border-bottom-left-radius: #{$i}px !important;
    }

    .border-radius-md-top-right-#{$i} {
      -webkit-border-top-right-radius: #{$i}px !important;
      border-top-right-radius: #{$i}px !important;
    }

    .border-radius-md-bottom-right-#{$i} {
      -webkit-border-bottom-right-radius: #{$i}px !important;
      border-bottom-right-radius: #{$i}px !important;
    }

  }

  //Border Radius End

  //Width Start
  @for $i from 0 through 100 {

    .w-md-#{$i} {
      width: $i*1% !important;
    }

    .mnw-md-#{$i} {
      min-width: $i*1% !important;
    }

    .mw-md-#{$i} {
      max-width: $i*1% !important;
    }

    .h-md-#{$i} {
      height: $i*1% !important;
    }

    .mnh-md-#{$i} {
      min-height: $i*1% !important;
    }

    .mh-md-#{$i} {
      max-height: $i*1% !important;
    }

  }

  .w-md-auto {
    width: auto !important;
  }

  .h-md-auto {
    height: auto !important;
  }

  .mnh-md-unset {
    min-height: unset !important;
  }

  .mh-md-unset {
    max-height: unset !important;
  }

  //Width End

  .overflow-md-hidden {
    overflow: hidden !important;
  }

  .overflow-md-x-hidden {
    overflow-x: hidden !important;
  }

  .overflow-md-y-hidden {
    overflow-y: hidden !important;
  }

  .overflow-md-visible {
    overflow: visible !important;
  }

  .overflow-md-x-visible {
    overflow-x: visible !important;
  }

  .overflow-md-y-visible {
    overflow-y: visible !important;
  }

  .overflow-md-x-auto {
    overflow-x: auto !important;
  }

  .overflow-md-y-auto {
    overflow-y: auto !important;
  }

  .position-md-static {
    position: static !important;
  }

  .position-md-relative {
    position: relative !important;
  }

  .position-md-fixed {
    position: fixed !important;
  }

  .position-md-absolute {
    position: absolute !important;
  }

  .position-md-sticky {
    position: sticky !important;
  }

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

  //Font Size Start

  @for $i from 0 through 50 {

    .font-size-lg-#{$i} {
      font-size: #{$i/12}rem !important;
    }

  }

  //Font Size End

  //Border Radius Start

  @for $i from 0 through 100 {

    .border-radius-lg-#{$i} {
      -webkit-border-radius: #{$i}px !important;
      border-radius: #{$i}px !important;
    }

    .border-radius-lg-top-left-#{$i} {
      -webkit-border-top-left-radius: #{$i}px !important;
      border-top-left-radius: #{$i}px !important;
    }

    .border-radius-lg-bottom-left-#{$i} {
      -webkit-border-bottom-left-radius: #{$i}px !important;
      border-bottom-left-radius: #{$i}px !important;
    }

    .border-radius-lg-top-right-#{$i} {
      -webkit-border-top-right-radius: #{$i}px !important;
      border-top-right-radius: #{$i}px !important;
    }

    .border-radius-lg-bottom-right-#{$i} {
      -webkit-border-bottom-right-radius: #{$i}px !important;
      border-bottom-right-radius: #{$i}px !important;
    }

  }

  //Border Radius End

  //Negative Margin Start

  @for $i from 0 through 10 {

    .mg-lg-n#{$i} {
      margin: -#{$i/4}rem !important;
    }

    .mgx-lg-n#{$i} {
      margin-left: -#{$i/4}rem !important;
      margin-right: -#{$i/4}rem !important;
    }

    .mgy-lg-n#{$i} {
      margin-top: -#{$i/4}rem !important;
      margin-bottom: -#{$i/4}rem !important;
    }

    .mgt-lg-n#{$i} {
      margin-top: -#{$i/4}rem !important;
    }

    .mgr-lg-n#{$i} {
      margin-right: -#{$i/4}rem !important;
    }

    .mgb-lg-n#{$i} {
      margin-bottom: -#{$i/4}rem !important;
    }

    .mgl-lg-n#{$i} {
      margin-left: -#{$i/4}rem !important;
    }

  }

  //Negative Margin End

  //Width Start
  @for $i from 0 through 100 {

    .w-lg-#{$i} {
      width: $i*1% !important;
    }

    .mnw-lg-#{$i} {
      min-width: $i*1% !important;
    }

    .mw-lg-#{$i} {
      max-width: $i*1% !important;
    }

    .h-lg-#{$i} {
      height: $i*1% !important;
    }

    .mnh-lg-#{$i} {
      min-height: $i*1% !important;
    }

    .mh-lg-#{$i} {
      max-height: $i*1% !important;
    }

  }

  .w-lg-auto {
    width: auto !important;
  }

  .h-lg-auto {
    height: auto !important;
  }

  .mnh-lg-unset {
    min-height: unset !important;
  }

  .mh-lg-unset {
    max-height: unset !important;
  }

  //Width End

  .overflow-lg-hidden {
    overflow: hidden !important;
  }

  .overflow-lg-x-hidden {
    overflow-x: hidden !important;
  }

  .overflow-lg-y-hidden {
    overflow-y: hidden !important;
  }

  .overflow-lg-visible {
    overflow: visible !important;
  }

  .overflow-lg-x-visible {
    overflow-x: visible !important;
  }

  .overflow-lg-y-visible {
    overflow-y: visible !important;
  }

  .overflow-lg-x-auto {
    overflow-x: auto !important;
  }

  .overflow-lg-y-auto {
    overflow-y: auto !important;
  }

  .position-lg-static {
    position: static !important;
  }

  .position-lg-relative {
    position: relative !important;
  }

  .position-lg-fixed {
    position: fixed !important;
  }

  .position-lg-absolute {
    position: absolute !important;
  }

  .position-lg-sticky {
    position: sticky !important;
  }

  .product-item {
    border-right: 1px solid #dee2e6 !important;
  }

  .product-item, .featured-product {
    max-height: 375px;
  }

}

/* Customized Media Queries (Min Width) */

@media (min-width: 1024px) {
}

/* Customized Media Queries (Min Width) */

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

  //Font Size Start

  @for $i from 0 through 50 {

    .font-size-xl-#{$i} {
      font-size: #{$i/12}rem !important;
    }

  }

  //Font Size End

  //Border Radius Start

  @for $i from 0 through 100 {

    .border-radius-xl-#{$i} {
      -webkit-border-radius: #{$i}px !important;
      border-radius: #{$i}px !important;
    }

    .border-radius-xl-top-left-#{$i} {
      -webkit-border-top-left-radius: #{$i}px !important;
      border-top-left-radius: #{$i}px !important;
    }

    .border-radius-xl-bottom-left-#{$i} {
      -webkit-border-bottom-left-radius: #{$i}px !important;
      border-bottom-left-radius: #{$i}px !important;
    }

    .border-radius-xl-top-right-#{$i} {
      -webkit-border-top-right-radius: #{$i}px !important;
      border-top-right-radius: #{$i}px !important;
    }

    .border-radius-xl-bottom-right-#{$i} {
      -webkit-border-bottom-right-radius: #{$i}px !important;
      border-bottom-right-radius: #{$i}px !important;
    }

  }

  //Border Radius End

  //Negative Margin Start

  @for $i from 0 through 10 {

    .mg-xl-n#{$i} {
      margin: -#{$i/4}rem !important;
    }

    .mgx-xl-n#{$i} {
      margin-left: -#{$i/4}rem !important;
      margin-right: -#{$i/4}rem !important;
    }

    .mgy-xl-n#{$i} {
      margin-top: -#{$i/4}rem !important;
      margin-bottom: -#{$i/4}rem !important;
    }

    .mgt-xl-n#{$i} {
      margin-top: -#{$i/4}rem !important;
    }

    .mgr-xl-n#{$i} {
      margin-right: -#{$i/4}rem !important;
    }

    .mgb-xl-n#{$i} {
      margin-bottom: -#{$i/4}rem !important;
    }

    .mgl-xl-n#{$i} {
      margin-left: -#{$i/4}rem !important;
    }

  }

  //Negative Margin End

  //Width Start
  @for $i from 0 through 100 {

    .w-xl-#{$i} {
      width: $i*1% !important;
    }

    .mnw-xl-#{$i} {
      min-width: $i*1% !important;
    }

    .mw-xl-#{$i} {
      max-width: $i*1% !important;
    }

    .h-xl-#{$i} {
      height: $i*1% !important;
    }

    .mnh-xl-#{$i} {
      min-height: $i*1% !important;
    }

    .mh-xl-#{$i} {
      max-height: $i*1% !important;
    }

  }

  .w-xl-auto {
    width: auto !important;
  }

  .h-xl-auto {
    height: auto !important;
  }

  .mnh-xl-unset {
    min-height: unset !important;
  }

  .mh-xl-unset {
    max-height: unset !important;
  }

  //Width End

  .overflow-xl-hidden {
    overflow: hidden !important;
  }

  .overflow-xl-x-hidden {
    overflow-x: hidden !important;
  }

  .overflow-xl-y-hidden {
    overflow-y: hidden !important;
  }

  .overflow-xl-visible {
    overflow: visible !important;
  }

  .overflow-xl-x-visible {
    overflow-x: visible !important;
  }

  .overflow-xl-y-visible {
    overflow-y: visible !important;
  }

  .overflow-xl-x-auto {
    overflow-x: auto !important;
  }

  .overflow-xl-y-auto {
    overflow-y: auto !important;
  }

  .position-xl-static {
    position: static !important;
  }

  .position-xl-relative {
    position: relative !important;
  }

  .position-xl-fixed {
    position: fixed !important;
  }

  .position-xl-absolute {
    position: absolute !important;
  }

  .position-xl-sticky {
    position: sticky !important;
  }

}

/* Extra extra large devices (1440px and up)*/
@media (min-width: 1440px) {

}

/* Extra extra extra large devices (4K and up)*/
@media (min-width: 2160px) {
}

/* /MOBILE FIRST MEDIA QUERIES */

/**/

/* MIXED SCREEN MEDIA QUERIES */

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 576px) and (max-width: 991.98px) {
}

@media (min-width: 576px) and (max-width: 1199.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {

}

@media (min-width: 768px) and (max-width: 1199.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* /MIXED SCREEN MEDIA QUERIES */

/**/

/* COMBINED MEDIA QUERIES */

@media (min-width: 576px), (min-width: 768px), (min-width: 992px), (min-width: 1200px) {
}

/* /COMBINED MEDIA QUERIES */
