
/*      Colors      */

.color-white {
  color: $white;
}

.color-dark {
  color: $dark;
}

.color-gray {
  color: $gray;
}

.color-primary {
  color: $primary;
}

.color-secondary {
  color: $secondary;
}

.color-tertiary {
  color: $tertiary;
}

.color-button {
  color: $button;
}

.color-icon {
  color: $icon;
}

/*      /Colors      */

/*      Backgrounds      */

.bg-white {
  background-color: $white;
}

.bg-dark {
  background-color: $dark;
}

.bg-gray {
  background-color: $gray;
}

.bg-primary {
  background-color: $primary;
}

.bg-secondary {
  background-color: $secondary;
}

.bg-tertiary {
  background-color: $tertiary;
}

.bg-button {
  background-color: $button;
}

.bg-icon {
  background-color: $icon;
}

/*      /Backgrounds      */