/*      Colors      */

.color-white {
  color: $white !important;
}

.color-dark {
  color: $dark !important;
}

.color-light-gray {
  color: $light-gray !important;
}

.color-gray {
  color: $gray !important;
}

.color-tinted-gray {
  color: $tinted-gray !important;
}

.color-primary {
  color: $primary !important;
}

.color-secondary {
  color: $secondary !important;
}

.color-tertiary {
  color: $tertiary !important;
}

.color-button {
  color: $button !important;
}

.color-icon {
  color: $icon !important;
}

/*      /Colors      */

/*      Backgrounds      */

.bg-white {
  background-color: $white !important;
}

.bg-dark {
  background-color: $dark !important;
}

.bg-light-gray {
  background-color: $light-gray !important;
}

.bg-gray {
  background-color: $gray !important;
}

.bg-tinted-gray {
  background-color: $tinted-gray !important;
}

.bg-primary {
  background-color: $primary !important;
}

.bg-secondary {
  background-color: $secondary !important;
}

.bg-tertiary {
  background-color: $tertiary !important;
}

.bg-button {
  background-color: $button !important;
}

.bg-icon {
  background-color: $icon !important;
}

/*      /Backgrounds      */

/*      Border Colors      */

.border {
  border-color: $white !important;
}

.border-white {
  border-color: $white !important;
}

.border-dark {
  border-color: $dark !important;
}

.border-gray {
  border-color: $gray !important;
}

.border-tinted-gray {
  border-color: $tinted-gray !important;
}

.border-primary {
  border-color: $primary !important;
}

.border-secondary {
  border-color: $secondary !important;
}

.border-tertiary {
  border-color: $tertiary !important;
}

.border-button {
  border-color: $button !important;
}

.border-icon {
  border-color: $icon !important;
}

/*      / Border Colors      */
