$font-CrimsonTextRoman: 'CrimsonTextRoman', Montserrat, Arial, Helvetica, sans-serif;

$font-CrimsonText: 'CrimsonText', Montserrat, Arial, Helvetica, sans-serif;

$font-CrimsonText-SemiBold: 'CrimsonText-SemiBold', Montserrat, Arial, Helvetica, sans-serif;

$font-CrimsonText-Bold: 'CrimsonText-Bold', Montserrat, Arial, Helvetica, sans-serif;

$font-Montserrat: Montserrat, Arial, Helvetica, sans-serif;

$font-Montserrat-Light: 'Montserrat-Light', Arial, Helvetica, sans-serif;

$font-Montserrat-ExtraLight: 'Montserrat-ExtraLight', Arial, Helvetica, sans-serif;

$font-Montserrat-Thin: 'Montserrat-Thin', Arial, Helvetica, sans-serif;

$font-Montserrat-Medium: 'Montserrat-Medium', Arial, Helvetica, sans-serif;

$font-Montserrat-Bold: 'Montserrat-Bold', Arial, Helvetica, sans-serif;

$font-Montserrat-ExtraBold: 'Montserrat-ExtraBold', Arial, Helvetica, sans-serif;

$white: #ffffff;

$dark: #1c1e23;

$gray: #e4e5e7;

$primary: #343e5c;

$secondary: #b9bed1;

$tertiary: #222328;

$button: #2754eb;

$icon: #00e2aa;